<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
.profil-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: 1300px;
  margin: auto;
  text-align: center;
  font-family: arial;
    }
    .drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    .drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
li a, .btn {
  display: inline-block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .drop:hover .btn {
  background-color: blue;
}
li.drop {
  display: inline-block;
}
.drop-content a:hover {background-color: #f1f1f1;}
.drop:hover .drop-content {
  display: block;
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

body {background: #ececec;}
h1, h2, h3, h4, h5 {
  border-bottom: 10px solid #ccc;
  color: #3F51B5;
  padding-bottom: 8px
}
.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.pdp{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.listFlex {display: flex; justify-content: center;}
img {
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.band{
  background-color: #3F51B5
}
.bandhead{
  background-color: #333;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;
}
footer {
  display: block;
  background-color: #3c3c3c;
  padding: 25px;
  font-size: 15px;
} 

</style>
</head>
<body>
<div class="profil-card">
<header>
  <ul class="bandhead">
  <li class="drop"><a href="/" class="btn">home</a></li>
  <li class="drop">
  <a href="javascript:void(0)" class="btn">My count</a>
  <div class="drop-content">
    <a href="/users/edit">Edit profil</a>
    <%=link_to "Se deconnecter", destroy_user_session_path, method: :delete%>
  </div>
</li>
<li class="drop">
  <a href="javascript:void(0)" class="btn">Share</a>
  <div class="drop-content">
    <a href="#">facebook</a>
    <a href="#">twitter</a>
    <a href="#">youtube</a>
  </div>
</li>
  </ul>
</header>

	<div class="container">
   <h1>E-profil</h1>
   <h3>Personal Profile</h3>
   <h5><%=current_user.email%></h5>
<img class="pdp" src="upload2/avatar.png" width="200" height="200" />
<ul class="band">
<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">profil</a>
	<div class="dropdown-content">
		<form action="edit.html">
   	<input type="file" name="image"><br>
    <input name="Submit" type="submit" value="Upload image">
    </form>
  </div>
</li>
<li class="dropdown">
	<a href="javascript:void(0)" class="dropbtn">Confidential</a>
	<div class="dropdown-content">
		<a href="#">Edit profil</a>
		<a href="#">Show panier</a>
	</div>
</li>
</ul>
   <h4></h4>
   <h4>About Me</h4>
   <p>Hi, I'm ..., .</p>
   <h4>My Object</h4>
   <div class="listFlex">
      <div>
         <ul>
            <li>...</li>
            <li>...</li>
            <li>...</li>
         </ul>
      </div>
   </div>
   
   
   </table>
</div>
<footer>Reseau sociaux : <br>
Catch on Facebook - <a href="">@</a>
</footer>
</div>
</body>
</html>