
<div class="profil-card">
	<div class="container">
   <h1>E-profil</h1>
   <h3>Personal Profile</h3>
   <h5><%=current_user.email%></h5>
<img class="pdp" src="upload2/avatar.png" width="200" height="200" />
<ul class="band">
<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">profil</a>
	<div class="dropdown-content">
		<form action="edit.html">
   	<input type="file" name="image"><br>
    <input name="Submit" type="submit" value="Upload image">
    </form>
  </div>
</li>
<li class="dropdown">
	<a href="javascript:void(0)" class="dropbtn">Confidential</a>
	<div class="dropdown-content">
		<a href="#">Edit profil</a>
		<a href="#">Show panier</a>
	</div>
</li>
</ul>
   <h4></h4>
   <h4>About Me</h4>
   <p>Hi, I'm ..., .</p>
   <h4>My Object</h4>
   <div class="listFlex">
      <div>
         <ul>
            <li>...</li>
            <li>...</li>
            <li>...</li>
         </ul>
      </div>
   </div>
   
   
   </table>
</div>
<footer>Reseau sociaux : <br>
Catch on Facebook - <a href="">@</a>
</footer>
</div>
<%=render "layouts/profile"%>

