<table>
	<p>
		<%@items.each do |image|%>
	<tr>
		<td><%= image.title %></td>
		<td><%= image.image_url %></td>
		<td><%= image.price %></td>
	</tr>
	<% end %>
	</p>
</table>

<%=link_to "login", new_user_session_path%>