<table>
	<p>
		<%@items.each do |image|%>
<tr>
	<td>
			<h2 style="text-align:center;"><%= image.title %></h2>
			<div style="text-align:center;">
				<%=link_to item_path(image.id) do%>
				<%= image_tag image.image_url, class: "rounded-circle" %>
				<%end%>
				 <%=link_to "View >>", item_path(image.id), role: "button", class: "btn btn-outline-info "%>
				
			</div>
			<% end %>
	
			<hr>

</td>
	
	</tr>
	</p>
</table>
