<table>
	<p>
		<%@items.each do |image|%>
	<tr>
			<h2><%= image.title %> <%=link_to "View >>", item_path(image.id), role: "button", class: "btn btn-outline-info "%></h2>
			<div>
				<%= image_tag image.image_url, class: "rounded-circle" %>
			</div>
			<hr>
	</tr>
	<% end %>
	</p>
</table>
<%=link_to "login", new_user_session_path%>


