  
<h2>Modifier votre identité</h2>
	<%=form_for @user do |f|%>
	<div>
		<label>Nom</label>
		<%f.text_field :last_name%>
	</div>
	<div>
		<label>Prénom</label>
		<%f.text_field :first_name%>
	</div>
	<div>
		<label>Age</label>
		<%f.number_field :age%>
	</div>
	<div>
		<label>Ville</label>
		<%f.text_field :city%>
	</div>
	<div>
		<label>Enregister</label>
		<%f.submit%>
	</div>
<%end%>



