
	<div class="container">
   <h1>E-profil</h1>
   <% if  @user.image.attached? %>
<%= image_tag @user.image %>
<% else%>
<p> vous n'avez pas encore un photo de profil </p>
<% end%>

<%= form_tag user_images_path(@user.id), multipart: true do%>
<%= file_field_tag :image %>
<%= submit_tag "Upload image"%>
<%end%>
  </div>
